In [1]:
# Purpose: Generate school district summary of the district's key metrics:
           # 1. Total number of students
           # 2. Total number of schools
           # 3. Total budget
           # 4. Average math score
           # 5. Average reading score
           # 6. Percentage of students who passed math
           # 7. Percentage of students who passed reading
           # 8. Overall passing percentage

In [2]:
# Add the Pandas dependency.
import pandas as pd

In [3]:
# Files to load
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

In [4]:
# Read the school data file and store it in a Pandas DataFrame.
school_data_df = pd.read_csv(school_data_to_load)

# Read the student data file and store it in a Pandas DataFrame.
student_data_df = pd.read_csv(student_data_to_load)

student_data_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [5]:
# Clean student data frame names
# Add each prefix and suffix to remove to a list.
prefixes_suffixes = ["Dr. ", "Mr. ","Ms. ", "Mrs. ", "Miss ", " MD", " DDS", " DVM", " PhD"]

# Iterate through the words in the "prefixes_suffixes" list and replace them with an empty space, "".
for word in prefixes_suffixes:
    student_data_df["student_name"] = student_data_df["student_name"].str.replace(word,"",regex=True)

In [6]:
# Combine the data into a single dataset.
school_data_complete_df = pd.merge(student_data_df, school_data_df, on=["school_name", "school_name"])

In [7]:
# 1. Get the total number of students.
student_count = school_data_complete_df["Student ID"].count()

In [8]:
# 2. Calculate the total number of schools.
# Method 2 - using merged data frame
school_count = len(school_data_complete_df["school_name"].unique())

In [9]:
#3. Calculate total budget
total_budget=school_data_df["budget"].sum()

In [10]:
#4. Calculate average math score
average_math_score = school_data_complete_df["math_score"].mean()

#5. Calculate average reading score
average_reading_score = school_data_complete_df["reading_score"].mean()

In [11]:
# 6. Calculate the percentage of students who passed math
passing_math = school_data_complete_df[school_data_complete_df["math_score"] >= 70]
passing_math_count = passing_math["student_name"].count()
passing_math_percentage = passing_math_count / float(student_count) * 100

In [12]:
# 7. Calculate the percentage of students who passed reading
passing_reading = school_data_complete_df[school_data_complete_df["reading_score"] >= 70]
passing_reading_count = passing_reading["student_name"].count()
passing_reading_percentage = passing_reading_count / float(student_count) * 100

In [13]:
# 8. Calculate the overall passing percentage
passing_math_reading = school_data_complete_df[(school_data_complete_df["math_score"] >= 70) & (school_data_complete_df["reading_score"] >= 70)]
overall_passing_math_reading_count = passing_math_reading["student_name"].count()
overall_passing_percentage = overall_passing_math_reading_count / student_count * 100

In [14]:
# Creating Summary - Adding a list of values with keys to create a new DataFrame
district_summary_df = pd.DataFrame(
          [{"Total Schools": school_count,
          "Total Students": student_count,
          "Total Budget": total_budget,
          "Average Math Score": average_math_score,
          "Average Reading Score": average_reading_score,
          "% Passing Math": passing_math_percentage,
         "% Passing Reading": passing_reading_percentage,
        "% Overall Passing": overall_passing_percentage}])

In [15]:
# Format the "Total Students" to have the comma for a thousands separator.
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)

# Format "Total Budget" to have the comma for a thousands separator, a decimal separator, and a "$".
district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)

In [16]:
# Format the "Average Reading Score" and "Average Math Score" to one decimal place.
district_summary_df["Average Reading Score"] = district_summary_df["Average Reading Score"].map("{:.1f}".format)
district_summary_df["Average Math Score"] = district_summary_df["Average Math Score"].map("{:.1f}".format)

# Format the "% Passing Math", "% Passing Reading", and "% Overall Passing" to the nearest whole number percentage.
district_summary_df["% Passing Math"]=district_summary_df["% Passing Math"].map("{:.0f}".format)
district_summary_df["% Passing Reading"]=district_summary_df["% Passing Reading"].map("{:.0f}".format)
district_summary_df["% Overall Passing"]=district_summary_df["% Overall Passing"].map("{:.0f}".format)

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",79.0,81.9,75,86,65

In [17]:
# Reorder the columns in the order you want them to appear.
new_column_order = ["Total Schools", "Total Students", "Total Budget","Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "% Overall Passing"]

# Assign district summary df the new column order.
district_summary_df = district_summary_df[new_column_order]
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",79.0,81.9,75,86,65